<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>



<div ng-app="" ng-init="firstName='dahai';quantity=1;cost=5;points=[1,15,19,2,40];person={firstName:'John',lastName:'Doe'}">
    <p>名字 : <input type="text" ng-model="name"></p>
    <h1>Hello {{name}}</h1>
    <p>初始化 <span ng-bind="firstName"></span></p>
    <p>计算：{{quantity * cost}}</p>
    <p>数组：{{points[2]}}</p>
    <p>对象属性：{{person.firstName + ' ' + person.lastName}}</p>
</div>





</body>
</html>